<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
<div class="row text-center vertical-middle-sm">
<h2>修改数据</h2>
<form method="post" class="form-horizontal">
{% csrf_token %}
    {{ form.as_p }}
{#    {% for f in form %}#}
{#  <div class="form-group">#}
{#    <label for="{{ f.id_for_label }}">{{ f.label }}</label>#}
{#    {{ f }}#}
{#  </div>#}
{#    {% endfor %}#}
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
</div>
</body>
</html>